{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% block content %} 
<form action="#" method="POST">
    <p><input type="text" name="current">Enter Your Current Password</p>
    <br>
    <p><input id="new1" type="password" name="new1">Enter Your New Password</p>
    <br>
    <p><input id="new2" type="password" name="new2">Retype Your New Password</p>
    <input id="submit" type="submit" value="submit" disabled hidden>
</form>

<button id="switch" onclick="change()">Show Passwords</button>
<button id="verify" onclick="verify()">verify</button>
<script lang="javascript">
    function change(){
        if (document.getElementById("new1").type == "password" && document.getElementById("new2").type == "password"){
            document.getElementById("new1").type = "text";
            document.getElementById("new2").type = "text";
            document.getElementById("switch").innerHTML = "Hide Passwords";
        }
        else if (document.getElementById("new1").type == "text" && document.getElementById("new2").type == "text") {
            document.getElementById("new1").type = "password";
            document.getElementById("new2").type = "password";
            document.getElementById("switch").innerHTML = "Show Passwords";
        }
        else {
            console.log("No");
            console.log(document.getElementById("new1").type);
            console.log(document.getElementById("new2").type);
        }
    } 
    function verify(){
        const btn = document.getElementById("submit");
        const verify = document.getElementById("verify");
        const new1 = document.getElementById("new1").value;
        const new2 = document.getElementById("new2").value;
        if (new1 == new2){
            btn.hidden = false;
            btn.disabled = false;
            verify.hidden = true;
        }
        else {
            document.getElementById("output").innerHTML = "Passwords do not match";
        }
    }
</script>

<p id="output">{{message}}</p>
{% endblock %}